<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.talktodeaf.main" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="project.talktodeaf.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="project.talktodeaf.ui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="project.talktodeaf.main.ActivityGame"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="project.talktodeaf.main.ActivityWordGame"
            android:label="@string/title_activity_activity_word_game" >
        </activity>
        <activity
            android:name="project.talktodeaf.main.ActivityVideoGame"
            android:label="@string/title_activity_activity_video_game" >
        </activity>
        <activity
            android:name="project.talktodeaf.main.ActivityInformation"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name="project.talktodeaf.Information.Information"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name="project.talktodeaf.Information.BookInfo"
            android:label="@string/title_activity_book_info" >
        </activity>
        <activity
            android:name="project.talktodeaf.Information.PlaceInfo"
            android:label="@string/title_activity_place_info" >
        </activity>
    </application>

</manifest>
